<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dingzhen.dao.info.CityDao">
	
	<select id="findList" parameterType="city" resultType="city">
		select id,name,ishot,firstletter,seq,lat,lng from city where 1 = 1
        <if test="firstletter != null and '' != firstletter">  
            <![CDATA[  
              AND firstletter = #{firstletter} 
            ]]>  
        </if>
        <if test="name != null and '' != name">  
            <![CDATA[  
              AND name like '%' #{name} '%'  
            ]]>  
        </if>
        <if test="ishot != null and '' != ishot">  
            <![CDATA[  
              AND ishot = #{ishot} 
            ]]>  
        </if>
        order by ishot desc,seq
        <if test="page != null and rows != null" >           
              limit #{page}, #{rows} 
        </if>
	</select>
	
	

	<select id="count" parameterType="city" resultType="int">
		select count(*) from city  where 1 = 1
		 <if test="firstletter != null and '' != firstletter">  
            <![CDATA[  
              AND firstletter = #{firstletter} 
            ]]>  
        </if>
        <if test="name != null and '' != name">  
            <![CDATA[  
              AND name like '%' #{name} '%'  
            ]]>  
        </if>
        <if test="ishot != null and '' != ishot">  
            <![CDATA[  
              AND ishot = #{ishot} 
            ]]>  
        </if>
	</select>
	
	
	
	<insert id="add" parameterType="city">
		insert into city(id,name,firstletter,ishot,seq,lat,lng) 
			values(#{id},#{name},#{firstletter},#{ishot},#{seq},#{lat},#{lng})
	</insert>
	
	
	<update id="update" parameterType="city">
		update city set
    	<trim suffixOverrides=",">
			<if test="name!=null">name=#{name},</if>
			<if test="firstletter!=null">firstletter=#{firstletter},</if>
			<if test="ishot!=null">ishot=#{ishot},</if>
			<if test="seq!=null">seq=#{seq},</if>
			<if test="lat!=null">lat=#{lat},</if>
			<if test="lng!=null">lng=#{lng},</if>
		</trim>
		<where>id=#{id}</where>
	</update>
	
	
	<delete id="delete" parameterType="city">
		delete from city where id = #{id}
	</delete>
	
	
	<delete id="deleteBatch" parameterType="java.util.List">
		delete from city 
		WHERE id IN(
		<foreach item="o" collection="list" open="" separator="," close="" >
			#{o.id}
		</foreach>
		)
	</delete>
	
	
</mapper>
